{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
            {% if post.author == user %}
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1 float-right" href="{% url 'post-delete' post.id %}">Delete</a>
                    <a class="btn btn-secondary btn-sm mr-1 mt-1 mb-1 float-right" href="{% url 'post-update' post.id %}">Update</a>
                </div>
            {% endif %}

            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
        </div>

        <h2 class="article-title">Game Title is : {{ post.title }}</h2>
        <p class="article-content">The size of the grid is : {{ post.grid_size }}x{{ post.grid_size }}</p>
        <p class="article-content">You need to align {{ post.alignment }} symbols to win</p>
        <p class="article-content">Is your game public : {{ post.is_public }}</p>

        {% if user.is_authenticated %}
            <!--s'affiche dans les parties public des autres ou dans les parties privée et publique de nous même-->
          <form method="POST">
            {% csrf_token %}
            {% if  post.is_public == True %}
                <input type="submit" class="btn-success float-right" value="Join game">
                <input type="text" id="id_password" name="pwd" class="float-right mr-2" value={{ post.access_code }} readonly>

            {% else %}
                {% if post.author == user %}
                    <small class="text-muted">Your game access code is : {{ post.access_code}}</small>
                    <input type="submit" class="btn-success float-right" value="Join game">
                    <input type="text" id="id_password" name="pwd" class="float-right mr-2" value={{ post.access_code }} readonly>
                {% else %}
                    <input type="submit" class="btn-success float-right" value="Join game">
                    <input type="text" id="id_password" name="pwd" class="float-right mr-2">
                {% endif %}
            {% endif %}
          {% endif %}
          </form>
      </div>
    </article>
{% endblock content %}

