{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <div style="text-align: center; margin-bottom: 25px;">
            {% if post.is_public == False %}
                <small>The game access code is: {{ post.access_code }}</small>
            {% endif %}
        </div>

        <!-- zone de jeu -->
        <div style="display: flex; justify-content: center; align-items: center;">
            <table>
                {% for row in nbCases %}
                <tr>
                    {% for col in nbCases %}
                    <td>
                        <img style="width: 50px; height: 50px;" id="BlockImg{{ col }}_{{ row }}" onclick="handleClick({{ row }}, {{ col }})">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- bas de page -->
        <div class="d-flex justify-content-center mt-5">
            <form method="POST">
            {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Surrender" name="surrender">
            </form>
        </div>
    </div>

    <script>
    //PAS DE SYNCHRONISATION
    //Le current player est en local.
    //si player 1 pose sa photo, player 2 ne sait pas que player 1 a posé
        var currentPlayer = 'X';
        var movesCount = 0;
        var postID = {{ post.id }};
        var nbCases = {{ post.grid_size }};
        var oldPlayerPositionsArrayLenght = 0;


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Recherche du jeton CSRF dans le cookie
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        //get all position each second
        function getPlayedPositions() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url 'post-play' post.id %}', true);

            // Ajout du jeton CSRF à l'en-tête de la requête
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var datas = JSON.parse(xhr.responseText);

                    var playedPositionsArray = datas.played_positions;


                    for (let i = 0; i < playedPositionsArray.length; i++) {
                        var positionParts = playedPositionsArray[i].split(';');
                        var currentPlayer = positionParts[0];
                        var buttonId = positionParts[1];

                        // Mise à jour du bouton avec l'ID correspondant
                        var Img = document.getElementById(buttonId);
                        if (Img) {
                            Img.src = currentPlayer === 'X' ? '{{ post.author.profile.symbol.url }}' : '{{ post.opponent.profile.symbol.url}}';
                        }
                    }

                } else {
                    // Gestion des erreurs
                    console.error('Failed to receive data from the server.');
                }
            };
            xhr.send();


        }

        // Appeler la fonction updateEverySecond toutes les 1000 millisecondes (1 seconde)
        setInterval(getPlayedPositions, 1000);


        //When a button is clicked send data to the database
        function handleClick(row, col) {
            var Img = document.getElementById('BlockImg' + col + '_' + row);

            if (Img.src === '') {
                // Mise à jour de l'image
                if (currentPlayer === 'X') {
                    Img.src = '{{ post.author.profile.symbol.url }}';
                } else {
                    Img.src = '{{ post.opponent.profile.symbol.url }}';
                }

                // Envoi de l'ID du bouton à la vue Django via AJAX avec le jeton CSRF
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url 'post-play' post.id %}', true);

                // Ajout du jeton CSRF à l'en-tête de la requête
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // Mise à jour réussie
                        console.log('Position updated successfully.');
                    } else {
                        // Gestion des erreurs
                        console.error('Failed to update position.');
                    }
                };

                var formData = new FormData();
                formData.append('position_id', currentPlayer + ';BlockImg' + col + '_' + row);

                // Envoyez les données de formulaire
                xhr.send(new URLSearchParams(formData));

                if (checkWinner()) {
                    alert(currentPlayer + ' wins!');
                }

                movesCount++;
                currentPlayer = currentPlayer === 'X' ? 'O' : 'X';
            }
        }

        function checkWinner() {
        // Define the number of consecutive symbols required for a win
        var alignment = {{ post.alignment }};
        // Check rows, columns, and diagonals for a winner
        for (var i = 0; i < nbCases; i++) {
            for (var j = 0; j < nbCases; j++) {

                // Check horizontal alignment
                if (checkAlignment(i, j, 0, 1, alignment)) {
                    return true;
                }

                // Check vertical alignment
                if (checkAlignment(i, j, 1, 0, alignment)) {
                    return true;
                }

                // Check diagonal alignment (top-left to bottom-right)
                if (checkAlignment(i, j, 1, 1, alignment)) {
                    return true;
                }

                // Check diagonal alignment (bottom-left to top-right)
                if (checkAlignment(i, j, -1, 1, alignment)) {
                    return true;
                }
            }
        }

        return false;
    }

    function checkAlignment(row, col, rowIncrement, colIncrement, alignment) {

        var symbol = currentPlayer === 'X' ? '{{ post.author.profile.symbol.url }}' : '{{ post.opponent.profile.symbol.url }}';

        for (var i = 0; i < alignment; i++) {
            var currentRow = row + i * rowIncrement;
            var currentCol = col + i * colIncrement;

            // Check if the current position is within the board bounds
            if (currentRow < 0 || currentRow >= nbCases || currentCol < 0 || currentCol >= nbCases) {
                return false;
            }

            var Img = document.getElementById('BlockImg' + currentCol + '_' + currentRow);

            var ImgSrc = Img.src;

            if (!(ImgSrc.includes(symbol))) {
                return false;
            }
        }

        // All symbols in the alignment are the same
        return true;
    }

    </script>
{% endblock content %}