{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
         <h1>HELLO YOU ARE IN THE GAME</h1>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <table>
            {% for row in nbCases %}
            <tr>
                {% for col in nbCases %}
                <td>
                    <button style="width: 50px; height: 50px;" id="BlockBtn{{ col }}_{{ row }}"></button>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
{% endblock content %}