{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="flex: 1; text-align: right;">
                <h2>{{ post.author }}</h2>
            </div>
            <div style="width: 10%; text-align: center;">
                <h2>VS</h2>
            </div>
            <div style="flex: 1; text-align: left;">
                <h2>The other player</h2>
            </div>
        </div>
        <div style="text-align: center; margin-bottom: 25px;">
            {% if post.is_public == False %}
                <small>The game access code is: {{ post.access_code }}</small>
            {% endif %}
            <h2>{{ position_id }}</h2>
        </div>

        <!-- zone de jeu -->
        <div style="display: flex; justify-content: center; align-items: center;">
            <table>
                {% for row in nbCases %}
                <tr>
                    {% for col in nbCases %}
                    <td>
                        <img style="width: 50px; height: 50px;" id="BlockImg{{ col }}_{{ row }}" onclick="handleClick({{ row }}, {{ col }})">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        var currentPlayer = 'X';
        var movesCount = 0;
        var postID = {{ post.id }}

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Recherche du jeton CSRF dans le cookie
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //get all position each second
        function getPlayedPositions() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url 'post-play' post.id %}', true);

            // Ajout du jeton CSRF à l'en-tête de la requête
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhr.onload = function () {
                if (xhr.status === 200) {

                    // Récupération réussie des données du serveur
                    var listOfPositions = JSON.parse(xhr.responseText);
                    var playedPositionsArray = listOfPositions.played_positions;

                    for (let i = 0; i < playedPositionsArray.length; i++) {
                        var positionParts = position.split(';');
                        var currentPlayer = positionParts[0];
                        var buttonId = positionParts[1];

                        // Mise à jour du bouton avec l'ID correspondant
                        var Img = document.getElementById(buttonId);
                        if (Img) {
                            Img.src = currentPlayer === 'X' ? '{{ post.author.profile.symbol.url }}' : '{{ user.profile.symbol.url }}';
                        }
                    }


                } else {
                    // Gestion des erreurs
                    console.error('Failed to receive data from the server.');
                }
            };
            xhr.send();
        }

        // Appeler la fonction updateEverySecond toutes les 1000 millisecondes (1 seconde)
        setInterval(getPlayedPositions, 1000);


        //When a button is clicked send data to the database
        function handleClick(row, col) {
            var Img = document.getElementById('BlockImg' + col + '_' + row);

            if (Img.src === '') {
                // Mise à jour de l'image
                if (currentPlayer === 'X') {
                    Img.src = '{{ post.author.profile.symbol.url }}';
                } else {
                    Img.src = '{{ user.profile.symbol.url }}';
                }

                // Envoi de l'ID du bouton à la vue Django via AJAX avec le jeton CSRF
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url 'post-play' post.id %}', true);

                // Ajout du jeton CSRF à l'en-tête de la requête
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // Mise à jour réussie
                        console.log('Position updated successfully.');
                    } else {
                        // Gestion des erreurs
                        console.error('Failed to update position.');
                    }
                };

                var formData = new FormData();
                formData.append('position_id', currentPlayer + ';BlockImg' + col + '_' + row);

                // Envoyez les données de formulaire
                xhr.send(new URLSearchParams(formData));

                movesCount++;
                currentPlayer = currentPlayer === 'X' ? 'O' : 'X';
            }
        }
    </script>
{% endblock content %}